<!DOCTYPE html>
<html>

<head>
	<title>Bloggy</title>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="homepage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
	<script type="text/javascript" src='js/main.js'></script>
        <nav class="navbar navbar-expand-lg fixed-top ">  
            <a class="navbar-brand" href="#" >Bloggy</a>
            
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
            <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
            <!--<button class="chat" type="button" style="margin-right: 5px;border: none;background-color: #171717;"><i class="bi bi-person-circle" style="color: white;"></i></button>   
            <button class="chat" type="button" style="margin-right: 5px;border: none;background-color: #171717;"><i class="bi bi-chat-fill" style="color: white;"></i></button>
                <button class="search" type="button" style="margin-right: 15px;border: none;background-color: #171717;"><i class="bi bi-search" style="color: white;"></i></button>
               <button class="signin" type="submit" style="margin-left: 350px;" onclick="location.href='http://localhost:100/'">Register</button>
               <button class="btn btn-success" type="submit" style="margin-left: 800px;" onclick="location.href='/login'">Sign In</button>-->
           </ul> 
        </nav>  
	<div class="col-md-4 col-md-offset-4 form-card" style="margin-top: 100px;">
		<div>
			<p><b>Profile Details</b></p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr>
						<td>Name </td>
						<td>
							<%= name %>
						</td>
					</tr>
					
					<tr>
						<td><b>blogs written by <%=name%></b></td>
					    <% if(blogs.length > 0){ %>
							<% blogs.forEach(function(blog) { %>
								<tr>
									<td>title:</td>
									<td><%=blog.title%></td>
									<td><a href="/myblog/<%=blog._id%>"><i class="fa fa-eye"></i></a></td>
									<td><a href="/<%=blog._id%>/like"><i class="fa fa-thumbs-up"></i></a></td>
									<!--<td><a href="/myblog/<%=blog._id%>/edit">edit</a></td>
									<td><a href="/myblog/<%=blog._id%>/delete">delete</a></td>-->
								</tr>
							<% }); %>
						<% } else{ %>  
							<p><b>No blogs created</b></p>
						<% } %>
					</tr>
				
				
				</table>
			</center>
		</div>
		
	</div>
	<%-include ('footer')%>
</body>

</html>
